<a href="https://colab.research.google.com/github/PendlimarriSivasankar/PS/blob/main/PYSPARK_FIRST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!wget -q https://github.com/saiadityaus1/test1/raw/main/df.csv -O df.csv
!wget -q https://github.com/saiadityaus1/test1/raw/main/df1.csv -O df1.csv
!wget -q https://github.com/saiadityaus1/test1/raw/main/dt.txt -O dt.txt
!wget -q https://github.com/saiadityaus1/test1/raw/main/file1.txt -O file1.txt
!wget -q https://github.com/saiadityaus1/test1/raw/main/file2.txt -O file2.txt
!wget -q https://github.com/saiadityaus1/test1/raw/main/file3.txt -O file3.txt
!wget -q https://github.com/saiadityaus1/test1/raw/main/file4.json -O file4.json
!wget -q https://github.com/saiadityaus1/test1/raw/main/file5.parquet -O file5.parquet
!wget -q https://github.com/saiadityaus1/test1/raw/main/file6 -O file6
!wget -q https://github.com/saiadityaus1/test1/raw/main/prod.csv -O prod.csv
!wget -q https://github.com/saiadityaus1/test1/raw/main/state.txt -O state.txt
!wget -q https://github.com/saiadityaus1/test1/raw/main/usdata.csv -O usdata.csv
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz
!tar xf spark-3.5.0-bin-hadoop3.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.0-bin-hadoop3"
import findspark
findspark.init()
import sys
import os
python_path = sys.executable
os.environ['PYSPARK_PYTHON'] = python_path
from pyspark import SparkConf
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
conf = SparkConf().setAppName("pyspark").setMaster("local[*]").set("spark.driver.host","localhost").set("spark.driver.allowMultipleContexts","true")
sc = SparkContext(conf=conf)
spark = SparkSession.builder.config("spark.driver.allowMultipleContexts","true").getOrCreate()
print("DONE==== START YOUR WORKðŸ‘‡ ")

DONE==== START YOUR WORKðŸ‘‡

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Create Spark session
spark = SparkSession.builder.appName("FilterProducts").getOrCreate()

# Sample data
data = [
    (0, 'Y', 'N'),
    (1, 'Y', 'Y'),
    (2, 'N', 'Y'),
    (3, 'Y', 'Y'),
    (4, 'N', 'N')
]

# Define schema
columns = ["product_id", "low_fats", "recyclable"]

# Create DataFrame
df = spark.createDataFrame(data, columns)
df.show()

# Filter products that are low in fats and recyclable
filtered_df = df.filter((col("low_fats") == 'Y') & (col("recyclable") == 'Y'))

# Show result
filtered_df.select("product_id").show()

+----------+--------+----------+
|product_id|low_fats|recyclable|
+----------+--------+----------+
|         0|       Y|         N|
|         1|       Y|         Y|
|         2|       N|         Y|
|         3|       Y|         Y|
|         4|       N|         N|
+----------+--------+----------+

+----------+
|product_id|
+----------+
|         1|
|         3|
+----------+

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Create Spark session
spark = SparkSession.builder.appName("FilterCustomers").getOrCreate()

# Sample data
data = [
    (1, "Will", None),
    (2, "Jane", None),
    (3, "Alex", 2),
    (4, "Bill", None),
    (5, "Zack", 1),
    (6, "Mark", 2)
]

# Define schema
columns = ["id", "name", "referee_id"]

# Create DataFrame
df = spark.createDataFrame(data, columns)
df.show()
# Filter customers where referee_id is null or not equal to 2
filtered_df = df.filter((col("referee_id").isNull()) | (col("referee_id") != 2))

# Show result
filtered_df.select("name").show()

+---+----+----------+
| id|name|referee_id|
+---+----+----------+
|  1|Will|      NULL|
|  2|Jane|      NULL|
|  3|Alex|         2|
|  4|Bill|      NULL|
|  5|Zack|         1|
|  6|Mark|         2|
+---+----+----------+

+----+
|name|
+----+
|Will|
|Jane|
|Bill|
|Zack|
+----+

In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Create Spark session
spark = SparkSession.builder.appName("BigCountries").getOrCreate()

# Sample data
data = [
    ("Afghanistan", "Asia", 652230, 25500100, 20343000000),
    ("Albania", "Europe", 28748, 2831741, 12960000000),
    ("Algeria", "Africa", 2381741, 37100000, 188681000000),
    ("Andorra", "Europe", 468, 78115, 3712000000),
    ("Angola", "Africa", 1246700, 20609294, 100990000000)
]

# Define schema
columns = ["name", "continent", "area", "population", "gdp"]

# Create DataFrame
df = spark.createDataFrame(data, columns)
df.show()
# Filter big countries
big_countries_df = df.filter((col("area") >= 3000000) | (col("population") >= 25000000))

# Select required columns
result_df = big_countries_df.select("name", "population", "area")

# Show result
result_df.show()

+-----------+---------+-------+----------+------------+
|       name|continent|   area|population|         gdp|
+-----------+---------+-------+----------+------------+
|Afghanistan|     Asia| 652230|  25500100| 20343000000|
|    Albania|   Europe|  28748|   2831741| 12960000000|
|    Algeria|   Africa|2381741|  37100000|188681000000|
|    Andorra|   Europe|    468|     78115|  3712000000|
|     Angola|   Africa|1246700|  20609294|100990000000|
+-----------+---------+-------+----------+------------+

+-----------+----------+-------+
|       name|population|   area|
+-----------+----------+-------+
|Afghanistan|  25500100| 652230|
|    Algeria|  37100000|2381741|
+-----------+----------+-------+

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Create Spark session
spark = SparkSession.builder.appName("ActiveViewers").getOrCreate()

# Sample data
data = [
    (1, 3, 5, "2019-08-01"),
    (1, 3, 6, "2019-08-02"),
    (2, 7, 7, "2019-08-01"),
    (2, 7, 6, "2019-08-02"),
    (4, 7, 1, "2019-07-22"),
    (3, 4, 4, "2019-07-21"),
    (3, 4, 4, "2019-07-21")
]

# Define schema
columns = ["article_id", "author_id", "viewer_id", "view_date"]

# Create DataFrame
df = spark.createDataFrame(data, columns)
df.show()
# Filter where viewer_id is not the same as author_id
filtered_df = df.filter(col("viewer_id") != col("author_id"))

# Select distinct viewer IDs
result_df = filtered_df.select(col("viewer_id").alias("id")).distinct()

# Show result
result_df.show()

+----------+---------+---------+----------+
|article_id|author_id|viewer_id| view_date|
+----------+---------+---------+----------+
|         1|        3|        5|2019-08-01|
|         1|        3|        6|2019-08-02|
|         2|        7|        7|2019-08-01|
|         2|        7|        6|2019-08-02|
|         4|        7|        1|2019-07-22|
|         3|        4|        4|2019-07-21|
|         3|        4|        4|2019-07-21|
+----------+---------+---------+----------+

+---+
| id|
+---+
|  6|
|  5|
|  1|
+---+

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Create Spark session
spark = SparkSession.builder.appName("FilterTweets").getOrCreate()

# Sample data
data = [
    (1, "Vote for Biden"),
    (2, "Let us make America great again!")
]

# Define schema
columns = ["tweet_id", "content"]

# Create DataFrame
df = spark.createDataFrame(data, columns)
df.show()
# Filter tweets with specific content
filtered_df = df.filter(col("content") == "Let us make America great again!")

# Select tweet_id
result_df = filtered_df.select("tweet_id")

# Show result
result_df.show()

+--------+--------------------+
|tweet_id|             content|
+--------+--------------------+
|       1|      Vote for Biden|
|       2|Let us make Ameri...|
+--------+--------------------+

+--------+
|tweet_id|
+--------+
|       2|
+--------+

In [8]:
from pyspark.sql import SparkSession

# Create Spark session
spark = SparkSession.builder.appName("EmployeeJoin").getOrCreate()

# Sample data for Employees
employees_data = [
    (1, "Alice"),
    (7, "Bob"),
    (11, "Meir"),
    (90, "Winston"),
    (3, "Jonathan")
]
employees_columns = ["id", "name"]

# Sample data for EmployeeUNI
employee_uni_data = [
    (3, 1),
    (11, 2),
    (90, 3)
]
employee_uni_columns = ["id", "unique_id"]

# Create DataFrames
employees_df = spark.createDataFrame(employees_data, employees_columns)
employees_df.show()
employee_uni_df = spark.createDataFrame(employee_uni_data, employee_uni_columns)
employee_uni_df.show()
# Perform left join
joined_df = employees_df.join(employee_uni_df, on="id", how="left")
joined_df.show()
# Select and reorder columns
result_df = joined_df.select("unique_id", "name")

# Show result
result_df.show()

+---+--------+
| id|    name|
+---+--------+
|  1|   Alice|
|  7|     Bob|
| 11|    Meir|
| 90| Winston|
|  3|Jonathan|
+---+--------+

+---+---------+
| id|unique_id|
+---+---------+
|  3|        1|
| 11|        2|
| 90|        3|
+---+---------+

+---+--------+---------+
| id|    name|unique_id|
+---+--------+---------+
|  7|     Bob|     NULL|
|  1|   Alice|     NULL|
|  3|Jonathan|        1|
| 11|    Meir|        2|
| 90| Winston|        3|
+---+--------+---------+

+---------+--------+
|unique_id|    name|
+---------+--------+
|     NULL|     Bob|
|     NULL|   Alice|
|        1|Jonathan|
|        2|    Meir|
|        3| Winston|
+---------+--------+

In [9]:
from pyspark.sql import SparkSession

# Create Spark session
spark = SparkSession.builder.appName("JoinSalesProduct").getOrCreate()

# Sample data for Sales
sales_data = [
    (1, 100, 2008, 10, 5000),
    (2, 100, 2009, 12, 5000),
    (7, 200, 2011, 15, 9000)
]
sales_columns = ["sale_id", "product_id", "year", "quantity", "price"]

# Sample data for Product
product_data = [
    (100, "Nokia"),
    (200, "Apple"),
    (300, "Samsung")
]
product_columns = ["product_id", "product_name"]

# Create DataFrames
sales_df = spark.createDataFrame(sales_data, sales_columns)
sales_df.show()
product_df = spark.createDataFrame(product_data, product_columns)
product_df.show()
# Perform inner join on product_id
joined_df = sales_df.join(product_df, on="product_id", how="inner")
joined_df.show()
# Select required columns
result_df = joined_df.select("product_name", "year", "price")

# Show result
result_df.show()

+-------+----------+----+--------+-----+
|sale_id|product_id|year|quantity|price|
+-------+----------+----+--------+-----+
|      1|       100|2008|      10| 5000|
|      2|       100|2009|      12| 5000|
|      7|       200|2011|      15| 9000|
+-------+----------+----+--------+-----+

+----------+------------+
|product_id|product_name|
+----------+------------+
|       100|       Nokia|
|       200|       Apple|
|       300|     Samsung|
+----------+------------+

+----------+-------+----+--------+-----+------------+
|product_id|sale_id|year|quantity|price|product_name|
+----------+-------+----+--------+-----+------------+
|       100|      1|2008|      10| 5000|       Nokia|
|       100|      2|2009|      12| 5000|       Nokia|
|       200|      7|2011|      15| 9000|       Apple|
+----------+-------+----+--------+-----+------------+

+------------+----+-----+
|product_name|year|price|
+------------+----+-----+
|       Nokia|2008| 5000|
|       Nokia|2009| 5000|
|       Apple|2011| 9000|
+------------+----+-----+

In [10]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count

# Create Spark session
spark = SparkSession.builder.appName("VisitsWithoutTransactions").getOrCreate()

# Visits data
visits_data = [
    (1, 23),
    (2, 9),
    (4, 30),
    (5, 54),
    (6, 96),
    (7, 54),
    (8, 54)
]
visits_columns = ["visit_id", "customer_id"]

# Transactions data
transactions_data = [
    (2, 5, 310),
    (3, 5, 300),
    (9, 5, 200),
    (12, 1, 910),
    (13, 2, 970)
]
transactions_columns = ["transaction_id", "visit_id", "amount"]

# Create DataFrames
visits_df = spark.createDataFrame(visits_data, visits_columns)
visits_df.show()
transactions_df = spark.createDataFrame(transactions_data, transactions_columns)
transactions_df.show()
# Left join Visits with Transactions
joined_df = visits_df.join(transactions_df, on="visit_id", how="left")
joined_df.show()
# Filter visits with no transaction
no_trans_df = joined_df.filter(col("transaction_id").isNull())
no_trans_df.show()
# Group by customer_id and count
result_df = no_trans_df.groupBy("customer_id").agg(count("*").alias("count_no_trans"))

# Show result
result_df.show()

+--------+-----------+
|visit_id|customer_id|
+--------+-----------+
|       1|         23|
|       2|          9|
|       4|         30|
|       5|         54|
|       6|         96|
|       7|         54|
|       8|         54|
+--------+-----------+

+--------------+--------+------+
|transaction_id|visit_id|amount|
+--------------+--------+------+
|             2|       5|   310|
|             3|       5|   300|
|             9|       5|   200|
|            12|       1|   910|
|            13|       2|   970|
+--------------+--------+------+

+--------+-----------+--------------+------+
|visit_id|customer_id|transaction_id|amount|
+--------+-----------+--------------+------+
|       1|         23|            12|   910|
|       2|          9|            13|   970|
|       4|         30|          NULL|  NULL|
|       7|         54|          NULL|  NULL|
|       6|         96|          NULL|  NULL|
|       5|         54|             9|   200|
|       5|         54|             3|   300|
|       5|         54|             2|   310|
|       8|         54|          NULL|  NULL|
+--------+-----------+--------------+------+

+--------+-----------+--------------+------+
|visit_id|customer_id|transaction_id|amount|
+--------+-----------+--------------+------+
|       4|         30|          NULL|  NULL|
|       7|         54|          NULL|  NULL|
|       6|         96|          NULL|  NULL|
|       8|         54|          NULL|  NULL|
+--------+-----------+--------------+------+

+-----------+--------------+
|customer_id|count_no_trans|
+-----------+--------------+
|         54|             2|
|         96|             1|
|         30|             1|
+-----------+--------------+

In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import col, lag

# Create Spark session
spark = SparkSession.builder.appName("RisingTemperature").getOrCreate()

# Sample data
weather_data = [
    (1, "2015-01-01", 10),
    (2, "2015-01-02", 25),
    (3, "2015-01-03", 20),
    (4, "2015-01-04", 30)
]
weather_columns = ["id", "recordDate", "temperature"]

# Create DataFrame
weather_df = spark.createDataFrame(weather_data, weather_columns)
weather_df.show()
# Define window spec ordered by date
window_spec = Window.orderBy("recordDate")

# Add previous day's temperature
weather_with_lag = weather_df.withColumn("prev_temp", lag("temperature").over(window_spec))

# Filter where current temp > previous temp
result_df = weather_with_lag.filter(col("temperature") > col("prev_temp")).select("id")

# Show result
result_df.show()

+---+----------+-----------+
| id|recordDate|temperature|
+---+----------+-----------+
|  1|2015-01-01|         10|
|  2|2015-01-02|         25|
|  3|2015-01-03|         20|
|  4|2015-01-04|         30|
+---+----------+-----------+

+---+
| id|
+---+
|  2|
|  4|
+---+

In [12]:
data = [
    (0, "06-26-2011", 300.4, "Exercise", "GymnasticsPro", "cash"),
    (1, "05-26-2011", 200.0, "Exercise Band", "Weightlifting", "credit"),
    (2, "06-01-2011", 300.4, "Exercise", "Gymnastics Pro", "cash"),
    (3, "06-05-2011", 100.0, "Gymnastics", "Rings", "credit"),
    (4, "12-17-2011", 300.0, "Team Sports", "Field", "cash"),
    (5, "02-14-2011", 200.0, "Gymnastics", None, "cash"),
    (6, "06-05-2011", 100.0, "Exercise", "Rings", "credit"),
    (7, "12-17-2011", 300.0, "Team Sports", "Field", "cash"),
    (8, "02-14-2011", 200.0, "Gymnastics", None, "cash")
]

df = spark.createDataFrame(data, ["id", "tdate", "amount", "category", "product", "spendby"])
df.show()


data2 = [
    (4, "12-17-2011", 300.0, "Team Sports", "Field", "cash"),
    (5, "02-14-2011", 200.0, "Gymnastics", None, "cash"),
    (6, "02-14-2011", 200.0, "Winter", None, "cash"),
    (7, "02-14-2011", 200.0, "Winter", None, "cash")
]

df1 = spark.createDataFrame(data2, ["id", "tdate", "amount", "category", "product", "spendby"])
df1.show()





data4 = [
    (1, "raj"),
    (2, "ravi"),
    (3, "sai"),
    (5, "rani")
]


cust = spark.createDataFrame(data4, ["id", "name"])
cust.show()

data3 = [
    (1, "mouse"),
    (3, "mobile"),
    (7, "laptop")
]

prod = spark.createDataFrame(data3, ["id", "product"])
prod.show()

# Register DataFrames as temporary views
df.createOrReplaceTempView("df")
df1.createOrReplaceTempView("df1")
cust.createOrReplaceTempView("cust")
prod.createOrReplaceTempView("prod")

spark.sql("select category, lower(category) as lower from df").show()

spark.sql("select category, upper(category) as upper from df").show()

spark.sql("select amount, ceil(amount) as ceil from df").show()

spark.sql("select amount, round(amount) as round from df").show()

spark.sql("select product,coalesce(product,'NA') as nullrep from df").show()

spark.sql("select trim(product) from df").show()

spark.sql("select distinct category from df").show()

spark.sql("select distinct category,spendby from df").show()

spark.sql("select substring(product,1,10) as sub from df").show()

spark.sql("select product,split(product,' ')[0] as split from df").show()

+---+----------+------+-------------+--------------+-------+
| id|     tdate|amount|     category|       product|spendby|
+---+----------+------+-------------+--------------+-------+
|  0|06-26-2011| 300.4|     Exercise| GymnasticsPro|   cash|
|  1|05-26-2011| 200.0|Exercise Band| Weightlifting| credit|
|  2|06-01-2011| 300.4|     Exercise|Gymnastics Pro|   cash|
|  3|06-05-2011| 100.0|   Gymnastics|         Rings| credit|
|  4|12-17-2011| 300.0|  Team Sports|         Field|   cash|
|  5|02-14-2011| 200.0|   Gymnastics|          NULL|   cash|
|  6|06-05-2011| 100.0|     Exercise|         Rings| credit|
|  7|12-17-2011| 300.0|  Team Sports|         Field|   cash|
|  8|02-14-2011| 200.0|   Gymnastics|          NULL|   cash|
+---+----------+------+-------------+--------------+-------+

+---+----------+------+-----------+-------+-------+
| id|     tdate|amount|   category|product|spendby|
+---+----------+------+-----------+-------+-------+
|  4|12-17-2011| 300.0|Team Sports|  Field|   cash|
|  5|02-14-2011| 200.0| Gymnastics|   NULL|   cash|
|  6|02-14-2011| 200.0|     Winter|   NULL|   cash|
|  7|02-14-2011| 200.0|     Winter|   NULL|   cash|
+---+----------+------+-----------+-------+-------+

+---+----+
| id|name|
+---+----+
|  1| raj|
|  2|ravi|
|  3| sai|
|  5|rani|
+---+----+

+---+-------+
| id|product|
+---+-------+
|  1|  mouse|
|  3| mobile|
|  7| laptop|
+---+-------+

+-------------+-------------+
|     category|        lower|
+-------------+-------------+
|     Exercise|     exercise|
|Exercise Band|exercise band|
|     Exercise|     exercise|
|   Gymnastics|   gymnastics|
|  Team Sports|  team sports|
|   Gymnastics|   gymnastics|
|     Exercise|     exercise|
|  Team Sports|  team sports|
|   Gymnastics|   gymnastics|
+-------------+-------------+

+-------------+-------------+
|     category|        upper|
+-------------+-------------+
|     Exercise|     EXERCISE|
|Exercise Band|EXERCISE BAND|
|     Exercise|     EXERCISE|
|   Gymnastics|   GYMNASTICS|
|  Team Sports|  TEAM SPORTS|
|   Gymnastics|   GYMNASTICS|
|     Exercise|     EXERCISE|
|  Team Sports|  TEAM SPORTS|
|   Gymnastics|   GYMNASTICS|
+-------------+-------------+

+------+----+
|amount|ceil|
+------+----+
| 300.4| 301|
| 200.0| 200|
| 300.4| 301|
| 100.0| 100|
| 300.0| 300|
| 200.0| 200|
| 100.0| 100|
| 300.0| 300|
| 200.0| 200|
+------+----+

+------+-----+
|amount|round|
+------+-----+
| 300.4|300.0|
| 200.0|200.0|
| 300.4|300.0|
| 100.0|100.0|
| 300.0|300.0|
| 200.0|200.0|
| 100.0|100.0|
| 300.0|300.0|
| 200.0|200.0|
+------+-----+

+--------------+--------------+
|       product|       nullrep|
+--------------+--------------+
| GymnasticsPro| GymnasticsPro|
| Weightlifting| Weightlifting|
|Gymnastics Pro|Gymnastics Pro|
|         Rings|         Rings|
|         Field|         Field|
|          NULL|            NA|
|         Rings|         Rings|
|         Field|         Field|
|          NULL|            NA|
+--------------+--------------+

+--------------+
| trim(product)|
+--------------+
| GymnasticsPro|
| Weightlifting|
|Gymnastics Pro|
|         Rings|
|         Field|
|          NULL|
|         Rings|
|         Field|
|          NULL|
+--------------+

+-------------+
|     category|
+-------------+
|   Gymnastics|
|     Exercise|
|Exercise Band|
|  Team Sports|
+-------------+

+-------------+-------+
|     category|spendby|
+-------------+-------+
|     Exercise|   cash|
|Exercise Band| credit|
|   Gymnastics| credit|
|   Gymnastics|   cash|
|     Exercise| credit|
|  Team Sports|   cash|
+-------------+-------+

+----------+
|       sub|
+----------+
|Gymnastics|
|Weightlift|
|Gymnastics|
|     Rings|
|     Field|
|      NULL|
|     Rings|
|     Field|
|      NULL|
+----------+

+--------------+-------------+
|       product|        split|
+--------------+-------------+
| GymnasticsPro|GymnasticsPro|
| Weightlifting|Weightlifting|
|Gymnastics Pro|   Gymnastics|
|         Rings|        Rings|
|         Field|        Field|
|          NULL|         NULL|
|         Rings|        Rings|
|         Field|        Field|
|          NULL|         NULL|
+--------------+-------------+

In [13]:
spark.sql("select * from df union all select * from df1").show()

+---+----------+------+-------------+--------------+-------+
| id|     tdate|amount|     category|       product|spendby|
+---+----------+------+-------------+--------------+-------+
|  0|06-26-2011| 300.4|     Exercise| GymnasticsPro|   cash|
|  1|05-26-2011| 200.0|Exercise Band| Weightlifting| credit|
|  2|06-01-2011| 300.4|     Exercise|Gymnastics Pro|   cash|
|  3|06-05-2011| 100.0|   Gymnastics|         Rings| credit|
|  4|12-17-2011| 300.0|  Team Sports|         Field|   cash|
|  5|02-14-2011| 200.0|   Gymnastics|          NULL|   cash|
|  6|06-05-2011| 100.0|     Exercise|         Rings| credit|
|  7|12-17-2011| 300.0|  Team Sports|         Field|   cash|
|  8|02-14-2011| 200.0|   Gymnastics|          NULL|   cash|
|  4|12-17-2011| 300.0|  Team Sports|         Field|   cash|
|  5|02-14-2011| 200.0|   Gymnastics|          NULL|   cash|
|  6|02-14-2011| 200.0|       Winter|          NULL|   cash|
|  7|02-14-2011| 200.0|       Winter|          NULL|   cash|
+---+----------+------+-------------+--------------+-------+

In [14]:
spark.sql("select * from df union select * from df1").show()

+---+----------+------+-------------+--------------+-------+
| id|     tdate|amount|     category|       product|spendby|
+---+----------+------+-------------+--------------+-------+
|  0|06-26-2011| 300.4|     Exercise| GymnasticsPro|   cash|
|  3|06-05-2011| 100.0|   Gymnastics|         Rings| credit|
|  2|06-01-2011| 300.4|     Exercise|Gymnastics Pro|   cash|
|  1|05-26-2011| 200.0|Exercise Band| Weightlifting| credit|
|  7|12-17-2011| 300.0|  Team Sports|         Field|   cash|
|  6|06-05-2011| 100.0|     Exercise|         Rings| credit|
|  4|12-17-2011| 300.0|  Team Sports|         Field|   cash|
|  8|02-14-2011| 200.0|   Gymnastics|          NULL|   cash|
|  5|02-14-2011| 200.0|   Gymnastics|          NULL|   cash|
|  6|02-14-2011| 200.0|       Winter|          NULL|   cash|
|  7|02-14-2011| 200.0|       Winter|          NULL|   cash|
+---+----------+------+-------------+--------------+-------+

In [15]:
spark.sql("select category,sum(amount) as sum from df group by category").show()

+-------------+-----+
|     category|  sum|
+-------------+-----+
|   Gymnastics|500.0|
|     Exercise|700.8|
|Exercise Band|200.0|
|  Team Sports|600.0|
+-------------+-----+

In [16]:
data = [

    ("00000", "06-26-2011", 200, "Exercise", "GymnasticsPro", "cash"),
    ("00001", "05-26-2011", 300, "Exercise", "Weightlifting", "credit"),
    ("00002", "06-01-2011", 100, "Exercise", "GymnasticsPro", "cash"),
    ("00003", "06-05-2011", 100, "Gymnastics", "Rings", "credit"),
    ("00004", "12-17-2011", 300, "Team Sports", "Field", "paytm"),
    ("00005", "02-14-2011", 200, "Gymnastics", None , "cash")

]
df = spark.createDataFrame(data, ["id", "tdate", "amount", "category", "product", "spendby"])
df.show()





procdf = df.selectExpr(

         "cast(id as int) as  id",

               "year(from_unixtime(unix_timestamp(tdate,'MM-dd-yyyy')))  as year",

               "amount + 1000  as amount",

               "upper(category) as category",

               "concat(product,'~zeyo') as product",

               "spendby",

               """ case
                    when spendby='cash'  then 0
                    when spendby='credit'  then 1
                    else 2
                    end
                    as status
                """

)

procdf.show()

+-----+----------+------+-----------+-------------+-------+
|   id|     tdate|amount|   category|      product|spendby|
+-----+----------+------+-----------+-------------+-------+
|00000|06-26-2011|   200|   Exercise|GymnasticsPro|   cash|
|00001|05-26-2011|   300|   Exercise|Weightlifting| credit|
|00002|06-01-2011|   100|   Exercise|GymnasticsPro|   cash|
|00003|06-05-2011|   100| Gymnastics|        Rings| credit|
|00004|12-17-2011|   300|Team Sports|        Field|  paytm|
|00005|02-14-2011|   200| Gymnastics|         NULL|   cash|
+-----+----------+------+-----------+-------------+-------+

+---+----+------+-----------+------------------+-------+------+
| id|year|amount|   category|           product|spendby|status|
+---+----+------+-----------+------------------+-------+------+
|  0|2011|  1200|   EXERCISE|GymnasticsPro~zeyo|   cash|     0|
|  1|2011|  1300|   EXERCISE|Weightlifting~zeyo| credit|     1|
|  2|2011|  1100|   EXERCISE|GymnasticsPro~zeyo|   cash|     0|
|  3|2011|  1100| GYMNASTICS|        Rings~zeyo| credit|     1|
|  4|2011|  1300|TEAM SPORTS|        Field~zeyo|  paytm|     2|
|  5|2011|  1200| GYMNASTICS|              NULL|   cash|     0|
+---+----+------+-----------+------------------+-------+------+

In [17]:
data = [

    ("00000", "06-26-2011", 200, "Exercise", "GymnasticsPro", "cash"),
    ("00001", "05-26-2011", 300, "Exercise", "Weightlifting", "credit"),
    ("00002", "06-01-2011", 100, "Exercise", "GymnasticsPro", "cash"),
    ("00003", "06-05-2011", 100, "Gymnastics", "Rings", "credit"),
    ("00004", "12-17-2011", 300, "Team Sports", "Field", "paytm"),
    ("00005", "02-14-2011", 200, "Gymnastics", None , "cash")

]
df = spark.createDataFrame(data, ["id", "tdate", "amount", "category", "product", "spendby"])
df.show()



withdf = (

            df.withColumn("category",expr("upper(category)"))
              .withColumn("amount",expr("amount+1000"))
              .withColumn("product",expr("concat(product,'~zeyo')"))
              .withColumn("id",expr("cast(id as int)"))
              .withColumn("tdate",expr("split(tdate,'-')[2]"))
              .withColumn("status",expr("case when spendby='cash' then 0 else 1 end as newstatus"))
              .withColumnRenamed("tdate","year")




)

withdf.show()

+-----+----------+------+-----------+-------------+-------+
|   id|     tdate|amount|   category|      product|spendby|
+-----+----------+------+-----------+-------------+-------+
|00000|06-26-2011|   200|   Exercise|GymnasticsPro|   cash|
|00001|05-26-2011|   300|   Exercise|Weightlifting| credit|
|00002|06-01-2011|   100|   Exercise|GymnasticsPro|   cash|
|00003|06-05-2011|   100| Gymnastics|        Rings| credit|
|00004|12-17-2011|   300|Team Sports|        Field|  paytm|
|00005|02-14-2011|   200| Gymnastics|         NULL|   cash|
+-----+----------+------+-----------+-------------+-------+

+---+----+------+-----------+------------------+-------+------+
| id|year|amount|   category|           product|spendby|status|
+---+----+------+-----------+------------------+-------+------+
|  0|2011|  1200|   EXERCISE|GymnasticsPro~zeyo|   cash|     0|
|  1|2011|  1300|   EXERCISE|Weightlifting~zeyo| credit|     1|
|  2|2011|  1100|   EXERCISE|GymnasticsPro~zeyo|   cash|     0|
|  3|2011|  1100| GYMNASTICS|        Rings~zeyo| credit|     1|
|  4|2011|  1300|TEAM SPORTS|        Field~zeyo|  paytm|     1|
|  5|2011|  1200| GYMNASTICS|              NULL|   cash|     0|
+---+----+------+-----------+------------------+-------+------+

In [3]:
data4 = [
    (1, "raj"),
    (2, "ravi"),
    (3, "sai"),
    (5, "rani")
]

cust = spark.createDataFrame(data4, ["id", "name"])
cust.show()
data3 = [
    (1, "mouse"),
    (3, "mobile"),
    (7, "laptop")
]
prod = spark.createDataFrame(data3, ["id", "product"])
prod.show()


innerjoin = cust.join(  prod , ["id"], "inner")
innerjoin.show()

lefjoin  =   cust.join(prod, ["id"], "left")
lefjoin.show()

rightjoin = cust.join(prod, ["id"], "right")
rightjoin.show()

fulljoin = cust.join(prod, ["id"],"full")
fulljoin.show()

+---+----+
| id|name|
+---+----+
|  1| raj|
|  2|ravi|
|  3| sai|
|  5|rani|
+---+----+

+---+-------+
| id|product|
+---+-------+
|  1|  mouse|
|  3| mobile|
|  7| laptop|
+---+-------+

+---+----+-------+
| id|name|product|
+---+----+-------+
|  1| raj|  mouse|
|  3| sai| mobile|
+---+----+-------+

+---+----+-------+
| id|name|product|
+---+----+-------+
|  1| raj|  mouse|
|  2|ravi|   NULL|
|  5|rani|   NULL|
|  3| sai| mobile|
+---+----+-------+

+---+----+-------+
| id|name|product|
+---+----+-------+
|  1| raj|  mouse|
|  7|NULL| laptop|
|  3| sai| mobile|
+---+----+-------+

+---+----+-------+
| id|name|product|
+---+----+-------+
|  1| raj|  mouse|
|  2|ravi|   NULL|
|  3| sai| mobile|
|  5|rani|   NULL|
|  7|NULL| laptop|
+---+----+-------+

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr

# Create Spark session
spark = SparkSession.builder.appName("TransformData").getOrCreate()

# Sample data
data = [
    ("00000","06-26-2011",200,"Exercise","GymnasticsPro","cash"),
    ("00001","05-26-2011",300,"Exercise","Weightlifting","credit"),
    ("00002","06-01-2011",100,"Exercise","GymnasticsPro","cash"),
    ("00003","06-05-2011",300,"Gymnastics","Rings","credit"),
    ("00004","12-17-2011",300,"Team Sports","Field","paytm"),
    ("00005","02-14-2011",200,"Gymnastics",None,"cash")
]

# Create DataFrame
df = spark.createDataFrame(data, ["id", "tdate", "amount", "category", "product", "spendby"])
df.show()

# Apply transformations
withdf = (
    df.withColumn("category", expr("upper(category)"))
      .withColumn("amount", expr("amount + 1000"))
      .withColumn("product", expr("concat(product, '~zeyo')"))
      .withColumn("id", expr("cast(id as int)"))
      .withColumn("tdate", expr("split(tdate, '-')[2]"))
      .withColumn("status", expr("case when spendby = 'cash' then 0 else 1 end"))
      .withColumnRenamed("tdate", "year")
)

# Show transformed DataFrame
withdf.show()

+-----+----------+------+-----------+-------------+-------+
|   id|     tdate|amount|   category|      product|spendby|
+-----+----------+------+-----------+-------------+-------+
|00000|06-26-2011|   200|   Exercise|GymnasticsPro|   cash|
|00001|05-26-2011|   300|   Exercise|Weightlifting| credit|
|00002|06-01-2011|   100|   Exercise|GymnasticsPro|   cash|
|00003|06-05-2011|   300| Gymnastics|        Rings| credit|
|00004|12-17-2011|   300|Team Sports|        Field|  paytm|
|00005|02-14-2011|   200| Gymnastics|         NULL|   cash|
+-----+----------+------+-----------+-------------+-------+

+---+----+------+-----------+------------------+-------+------+
| id|year|amount|   category|           product|spendby|status|
+---+----+------+-----------+------------------+-------+------+
|  0|2011|  1200|   EXERCISE|GymnasticsPro~zeyo|   cash|     0|
|  1|2011|  1300|   EXERCISE|Weightlifting~zeyo| credit|     1|
|  2|2011|  1100|   EXERCISE|GymnasticsPro~zeyo|   cash|     0|
|  3|2011|  1300| GYMNASTICS|        Rings~zeyo| credit|     1|
|  4|2011|  1300|TEAM SPORTS|        Field~zeyo|  paytm|     1|
|  5|2011|  1200| GYMNASTICS|              NULL|   cash|     0|
+---+----+------+-----------+------------------+-------+------+

In [9]:
data = [
     ("00000","06-26-2011",200,"Exercise","GymnasticsPro","cash"),
     ("00001","05-26-2011",300,"Exercise","Weightlifting","credit"),
     ("00002","06-01-2011",100,"Exercise","GymnasticsPro","cash"),
     ("00003","06-05-2011",300,"Gymnastics","Rings","credit"),
     ("00004","12-17-2011",300,"Team Sports","Field","paytm"),
     ("00005","02-14-2011",200,"Gymnastics",None,"cash")
]
df = spark.createDataFrame(data, ["id", "tdate", "amount", "category", "product", "spendby"])
df.show()


withdf = (
		df.withColumn("category",expr("upper(category)"))
		  .withColumn("amount",expr("amount+1000"))
		  .withColumn("product",expr("concat(product, '~zeyo')"))
		  .withColumn("id",expr("cast(id as int)"))
		  .withColumn("tdate",expr("split(tdate,'-')[2]"))
		  .withColumn("status",expr("case when spendby='cash' then 0 else 1 end as newstatus"))
		  .withColumnRenamed("tdate","year")
)

withdf.show()

+-----+----------+------+-----------+-------------+-------+
|   id|     tdate|amount|   category|      product|spendby|
+-----+----------+------+-----------+-------------+-------+
|00000|06-26-2011|   200|   Exercise|GymnasticsPro|   cash|
|00001|05-26-2011|   300|   Exercise|Weightlifting| credit|
|00002|06-01-2011|   100|   Exercise|GymnasticsPro|   cash|
|00003|06-05-2011|   300| Gymnastics|        Rings| credit|
|00004|12-17-2011|   300|Team Sports|        Field|  paytm|
|00005|02-14-2011|   200| Gymnastics|         NULL|   cash|
+-----+----------+------+-----------+-------------+-------+

+---+----+------+-----------+------------------+-------+------+
| id|year|amount|   category|           product|spendby|status|
+---+----+------+-----------+------------------+-------+------+
|  0|2011|  1200|   EXERCISE|GymnasticsPro~zeyo|   cash|     0|
|  1|2011|  1300|   EXERCISE|Weightlifting~zeyo| credit|     1|
|  2|2011|  1100|   EXERCISE|GymnasticsPro~zeyo|   cash|     0|
|  3|2011|  1300| GYMNASTICS|        Rings~zeyo| credit|     1|
|  4|2011|  1300|TEAM SPORTS|        Field~zeyo|  paytm|     1|
|  5|2011|  1200| GYMNASTICS|              NULL|   cash|     0|
+---+----+------+-----------+------------------+-------+------+